*.classpath

*.project

.settings

target
/.metadata
/RemoteSystemsTempFiles
/spring-webflow/.gradle
/spring-webflow/.idea
*.iml
bin
.gradle
.sass-cache
stylesheets
/message-queue/build
.idea
cloud-microservices/gateway/build
cloud-microservices/registry/build
cloud-microservices/test-service/build
cloud-microservices/config/build
