<!DOCTYPE html>
<html>
<head>    
	<title tiles:include="title"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
 	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.2-1/css/bootstrap.min.css}" 
     	rel="stylesheet" />	     
    <link href="../static/css/core.css"           
    	th:href="@{/css/core.css}"
        rel="stylesheet" 
        media="screen" />
    
    <link rel="stylesheet" type="text/css" 
          href="#" th:href="@{/web-resources/dijit/themes/tundra/tundra.css}" />
    
    <script type="text/javascript" src="#" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/webjars/bootstrap/3.3.2-1/js/bootstrap.min.js}"></script>
    
    <script type="text/javascript" src="#" th:src="@{/web-resources/dojo/dojo.js.uncompressed.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/web-resources/spring/Spring.js.uncompressed.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/web-resources/spring/Spring-Dojo.js.uncompressed.js}"></script>        
             	        
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Spring Webflow</a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
            	<a href="#" 
            		class="dropdown-toggle" 
            		data-toggle="dropdown" 
            		role="button" 
            		aria-expanded="false">
            			Flows <span class="caret"></span>
            	</a>     
				<ul class="dropdown-menu" role="menu">
					<li><a th:href="@{/flows/simpleflow}">Simple</a></li>
            		<li><a th:href="@{/flows/currenttime}">Current Time</a></li>
            		<li><a th:href="@{/flows/relatedflows/start}">Related</a></li>            		
            		<li><a th:href="@{/flows/subflows}">Sub Flows</a></li>
          		</ul>       	
			</li>
          </ul>
        </div><!--/.nav-collapse -->
        <!-- 
		<div class="navbar navbar-right" th:if="${#authorization.expression('isAuthenticated()')}" style="color: white;">
			<span sec:authentication="name"></span>
		</div>
		<div class="navbar navbar-right" th:if="${not #authorization.expression('isAuthenticated()')}" style="color: white;">
			<ul class="nav navbar-nav">				
            	<li><a href="/login">Login</a></li>
            </ul>
		</div>        
		-->   
      </div>
    </nav>
	<div class="container" tiles:include="body"></div>
</body>
</html>