<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  th:include="main :: page">
<head>
    <title tiles:fragment="title">Current Time Flow</title>
</head>
<body tiles:fragment="content"> 	
	<form id="currentTimeForm" action="#" method="post" th:action="${flowExecutionUrl}">
		<div>
			Current time is: <b><span th:text="${#dates.format(currentTimeModel.date, 'dd/MMM/yyyy HH:mm:ss')}"></span></b>
		</div>
		<div class="pull-right">
			<button class="btn btn-default" type="button" id="refreshBtn" name="_eventId_refresh">Refresh</button>
		</div>
		<script type="text/javascript">
        	// <![CDATA[        	            
            Spring.addDecoration(new Spring.ValidateAllDecoration({elementId:'refreshBtn', event:'onclick'}));
            Spring.addDecoration(new Spring.AjaxEventDecoration({elementId:'refreshBtn', event:'onclick', formId:'currentTimeForm'}));
            // ]]>
		</script>		
	</form>
	
</body>
</html>