<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  th:include="main :: page">
<head>
    <title tiles:fragment="title">Simple Scope Flow</title>
</head>
<body tiles:fragment="content"> 	
	<div th:text="'Var 1:' + ${var1}"></div>
	<div th:text="'Var 2:' + ${var2}"></div>
	<div th:text="'Var 3:' + ${var3}"></div>
	<form id="myForm" action="#" method="post" th:action="${flowExecutionUrl}">
		<button type="button" id="nextBtn" name="_eventId_next">Next</button>
		<script type="text/javascript">
        	// <![CDATA[        	            
            Spring.addDecoration(new Spring.ValidateAllDecoration({elementId:'nextBtn', event:'onclick'}));
            Spring.addDecoration(new Spring.AjaxEventDecoration({elementId:'nextBtn', event:'onclick', formId:'myForm', params: { _eventId : 'next', fragments: 'myForm' }}));
            // ]]>
		</script>		
	</form>
	
</body>
</html>