<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  th:include="main :: page">
<head>
    <title tiles:fragment="title">Simple Scope Flow</title>
</head>
<body tiles:fragment="content"> 	
	<h1 th:text="${flow}"></h1>
	<div>View: <span th:text="${viewVar}"></span></div>
	<div>Flow: <span th:text="${flowVar}"></span></div>
	<div>Conversation: <span th:text="${conversationVar}"></span></div>
	<form id="myForm" action="#" method="post" th:action="${flowExecutionUrl}">
		<button type="button" id="nextBtn" name="_eventId_next" th:disabled="${nextDisabled}">Next</button>
		<script type="text/javascript">
        	// <![CDATA[        	            
            Spring.addDecoration(new Spring.ValidateAllDecoration({elementId:'nextBtn', event:'onclick'}));
            Spring.addDecoration(new Spring.AjaxEventDecoration({elementId:'nextBtn', event:'onclick', formId:'myForm', params: { _eventId : 'next', fragments: 'myForm' }}));
            // ]]>
		</script>		
	</form>
	
</body>
</html>