
<h1>Login</h1>
<div class="alert alert-danger" ng-show="errorMessage">
	{{ errorMessage }}
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">		
				<form name="loginForm" role="form" ng-submit="login()">
					<div class="form-group">
						<label for="username">Username:</label>
						<input type="text" class="form-control" id="username" name="username" ng-model="credentials.username"/>
					</div>
					<div class="form-group">
						<label for="password">Password:</label> 
						<input type="password" class="form-control" id="password" name="password" ng-model="credentials.password"/>
					</div>
					<button type="submit" class="btn btn-custom">Submit</button>
				</form>
			</div>
		</div>		
	</div>
	<div class="col-md-6">
		<div>
			<a ng-click="loginWithTwitter()" class="btn btn-block btn-social btn-twitter pull-right" href="javascript:void(0);">
				<span class="fa fa-twitter"></span>
				Sign in with Twitter
			</a>	
			<a ng-click="loginWithGoogle()" class="btn btn-block btn-social btn-google pull-right" href="javascript:void(0);">
				<span class="fa fa-google"></span>
				Sign in with Google
			</a>
			<a ng-click="loginWithGithub()" class="btn btn-block btn-social btn-github pull-right" href="javascript:void(0);">
				<span class="fa fa-github"></span>
				Sign in with Github
			</a>
			<a ng-click="loginWithLinkedin()" class="btn btn-block btn-social btn-linkedin pull-right" href="javascript:void(0);">
				<span class="fa fa-linkedin"></span>
				Sign in with LinkedIn
			</a>									
		</div>		
	</div>
</div>