<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  th:include="main :: page">
<head>
    <title tiles:fragment="title">Simple Scope Flow</title>
</head>
<body tiles:fragment="content"> 
	<div id="detailDiv">
		<div th:if="${country != null}">
			<hr/>
			<h4>Country</h4>
			<div>
				<dl class="dl-horizontal">
					<dt>Name</dt>
					<dd th:text="${country.name}"></dd>
					<dt>Capital</dt>
					<dd th:text="${country.capital}"></dd>
					<dt>Currency</dt>
					<dd th:text="${country.currency}"></dd>
					<dt>Phone Code</dt>
					<dd th:text="${country.phoneCode}"></dd>															
				</dl>
			</div>
		</div>
	</div>
</body>
</html>